* {
    text-align: center;
    font-family: Rockwell;
    text-decoration: none;

}


body {
    animation-name: escuri;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-image: url("../imagens/cenario/background4.png");
    background-size: 100%;
    background-position: 80%;

    overflow: hidden;
}

html {
    box-shadow: 40px 40px 100px 100px rgba(255, 0, 0, 0.26) inset;
    padding: 303px;
    height: 30%;
    z-index: 4;
}

.footer {
    padding: 100px;
    background-color: #ffffff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 150px;
    right: 150px;


    border-radius: 1px;
    border: 5px double #11002c;

}

#instr {
    position: absolute;
    padding: 90px;
    background-color: #ffffff;
    margin-bottom: 10px;
    bottom: 30px;
    left: 200px;
    right: 200px;

    border-radius: 25px;
    border: 3px solid #0331ff;
}

.info {
    font-size: 30px;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 30px;
}


#binst {
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 20px;

}


#binst:hover {
    background-color: #000000;
    color: white;
}

#conteudo,
#conteudo2 {
    padding: 500px;
    position: absolute;
    bottom: 100px;
    left: 10px;
    right: 10px;
    /* background-color: #922fe4; */
}

#cavaleiro {
    position: absolute;
    left: 10px;
    bottom: -100px;
    z-index: 1;
}

#particulas {
    position: absolute;
    left: 300px;
    bottom: 200px;
    opacity: 0%;
    z-index: 0;
}

#div {
    padding: 20;
    background-color: #0331ff;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
}

.p {
    text-align: left;
    font-size: 18px;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.p2 {
    text-align: left;
    font-size: 18px;
    position: absolute;
    right: 167px;
    bottom: 10px;
}

.p3 {

    font-size: 18px;
    position: absolute;
    left: 10px;
    bottom: 100px;
}

.p4 {
    font-size: 18px;
    position: absolute;
    right: 300px;
    bottom: 100px;
}