* {
    text-align: center;
    font-family: cursive;
    text-decoration: none;
}

body {
    background-image: url("../imagens/cenario/background2.png");
    background-size: 100%;
    background-position: 100%;
    overflow: hidden;
    
}

html {
    box-shadow: 40px 40px 100px 100px rgba(227, 249, 255, 0.842) inset;
    padding: 390px;
}

.footer {
    padding: 100px;
    background-color: #ffffff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 150px;
    right: 150px;
    border-radius: 1px;
    border: 5px double #22deff;
}

#instr {
    position: absolute;
    padding: 90px;
    background-color: #ffffff;
    margin-bottom: 10px;
    bottom: 30px;
    left: 200px;
    right: 200px;
    border-radius: 25px;
    border: 3px solid #0331ff;
}

.info {
    font-size: 30px;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.bclose {
    padding: 15px;
    height: 20px;
    width: 20px;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 30px;
}

.bclose:hover {
    background-color: #bdbdbd;
    color: rgb(89, 0, 255);
}

#binst {
    border: none;
    color: rgb(10, 83, 20);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

#binst1 {
    border: none;
    color: rgb(10, 83, 20);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 100px;
}

#binst1:hover {
    background-color: #84e2ff;
    color: white;
}

#binst:hover {
    background-color: #84e2ff;
    color: white;
}

#pag2 {
    padding: 100px;
    background-color: #ffffff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 150px;
    right: 150px;
    border-radius: 1px;
    border: 5px double #84e2ff;
    display: none;
}

#pag2:target {
    display: block;
}

#pag3 {
    padding: 95px;
    background-color: #ffffff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 150px;
    right: 150px;
    border-radius: 1px;
    border: 5px double #0331ff;
    display: none;
}

#pag3:target {
    display: block;
}

.info2 {
    font-size: 20px;
    text-align: right;
    position: absolute;
    right: 50px;
    bottom: 80px;
}

input {
    font-size: 20px;
    padding: 20px;
    height: 5px;
    width: 20px;
    position: absolute;
    right: 370px;
    bottom: 100px;
}

.vai {
    border: none;
    color: rgb(10, 83, 20);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 250px;
    bottom: 20px;
}

.vai:hover {
    background-color: #0331ff;
    color: white;
}

#conteudo,
#conteudo2 {
    padding: 500px;
    position: absolute;
    bottom: 100px;
    left: 10px;
    right: 10px;
    /* background-color: #922fe4; */
}

#neve {
    position: absolute;
    right: 400px;
    bottom: 200px;
}

#nevem {
    position: absolute;
    right: 420px;
    bottom: 180px;
}

#cavaleiro {
    position: absolute;
    left: 10px;
    bottom: -100px;
}

#particulas {
    position: absolute;
    left: 300px;
    bottom: 200px;
}

#div {
    padding: 20;
    background-color: #0331ff;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
}


/* 
#tdvida {
    background-color: rgba(119, 0, 255, 0.13);
    position: absolute;
    left: 350px;
    top: 170px;
    padding: 10;
    height: 20px;
    width: 100px;
}

#vida {
    position: absolute;
    left: 1px;
    align-items: left;
}

#vida2 {
    position: absolute;
    right: 1px;
    align-items: right;
}

#tdvida2 {
    background-color: rgba(119, 0, 255, 0.13);
    position: absolute;
    right: 350px;
    top: 170px;
    padding: 10;
    height: 20px;
    width: 100px;
} */

.p {
    text-align: left;
    font-size: 18px;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.p2 {
    text-align: left;
    font-size: 18px;
    position: absolute;
    right: 167px;
    bottom: 10px;
}

.p3 {
    font-size: 18px;
    position: absolute;
    left: 10px;
    bottom: 100px;
}

.p4 {
    font-size: 18px;
    position: absolute;
    right: 300px;
    bottom: 100px;
}