*{
    text-align: center;
    font-family: cursive;
    text-decoration:none;
}

#audio{
    position: absolute;
    right: 5px;
    top: 100px;

}

body{
    background-image: url("../imagens/cenario/background1.png");
    background-size: 100%;
    background-position: 80%;
    overflow: hidden;
}

html{
    box-shadow: 10px 10px 100px 100px rgba(0, 0, 0, 0.5) inset; 
    padding: 383px;
}

.footer{
    padding: 100px; 
    background-color: #ffffff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 200px;
    right: 200px;

    border-radius: 1px;
    border: 5px double #922fe4;
    
}

#instr{
    position: absolute;
    padding: 90px; 
    background-color: #ffffff;
    margin-bottom: 10px;
    bottom: 30px;
    left: 200px;
    right: 200px;

    border-radius: 1px;
    border: 5px double #00ff2a;
  }

.info{
    font-size: 30px;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 40px;
}

.bclose{
    padding: 15px;
    height: 20px;
    width: 20px;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 30px;
}

.bclose:hover{
    background-color: #bdbdbd;
    color: rgb(89, 0, 255);
}

#binst{
    border: none;
    color: rgb(10, 83, 20);
    padding: 10px 15px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
        position: absolute;
        right: 50px;
        bottom: 20px;
        
    }
    
#binst:hover{
    background-color: #7700ff;
    color: white;
}

#pag2{
    padding: 100px; 
    background-color: #ffffff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 200px;
    right: 200px;

    border-radius: 1px;
    border: 5px double #00ff2a;
    display: none;
}

#pag2:target{
    display: block;
}

.info2{
    font-size: 20px;
    text-align: right;
    position: absolute;
    right: 100px;
    bottom: 80px;
}

input{
    font-size: 20px;
    padding: 20px;
    height: 5px;
    width: 20px;
    position: absolute;
    right: 400px;
    bottom: 100px;
}

.vai{
    border: none;
color: rgb(10, 83, 20);
padding: 10px 25px;
text-align: center;
text-decoration:none;
display: inline-block;
font-size: 25px;
margin: 4px 2px;
cursor: pointer;
    position: absolute;
    right: 250px;
    bottom: 20px;
    
}
.vai:hover{
    
    background-color: #4CAF50;
    color: white;
}


#conteudo,#conteudo2{
    padding: 500px;
    position: absolute;
    bottom: 100px;
    left: 10px;
    right: 10px;
    /* background-color: #922fe4; */
}

#goblin{
    position: absolute;
    right: 10px;
    bottom: -100px;
}

#goblinm{
    position: absolute;
    right: 340px;
    bottom: 185px;
}

#cavaleiro{
    position: absolute;
    left: 10px;
    bottom: -100px;
}

#div{
    padding: 20;
    background-color: #4CAF50;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
}

#tdvida{
    background-color: rgba(119, 0, 255, 0.13);
    position: absolute;
    left: 350px;
    top: 170px;
    padding: 10;
    height: 20px;
    width: 100px;
}

#vida{
    position: absolute;
    left: 1px;
    align-items: left;
}
#vida2{
    position: absolute;
    right: 1px;
    align-items: right;
}
#tdvida2{
    background-color: rgba(119, 0, 255, 0.13);
    position: absolute;
    right: 350px;
    top: 170px;
    padding: 10;
    height: 20px;
    width: 100px;
}

.p{
    font-size: 18px;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.p2{
    font-size: 18px;
    position: absolute;
    left: 350px;
    bottom: 10px;
}
